header {
  nav {
    margin: 29px auto 34px auto !important;

    @include lg {
      margin: 20px auto 25px auto !important;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
    padding: 16px;

    @include lg {
      gap: 34px;
    }
  }

  a {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: $gray;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;

    &:hover {
      color: $green;
    }

    @include lg {
      font-size: 11px;
    }
  }
}