@mixin lg {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: 340px) {
        @content;
    }
}