* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: roboto;
  font-size: 16px;
}

.burger {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;


  @include lg {
    max-width: 810px;
  }

  @include sm {
    max-width: 340px;
    padding: 0 10px;
  }
}

main {
  img {
    max-width: 100%;
  }
}

.title {
  font-weight: 700;
  color: $gray;
  text-transform: uppercase;
  line-height: 19px;
  font-size: 16px;
}

.posts {
  margin-top: 66px;

  // .posts__list

  &__list {
    margin-top: 24px;
    display: grid;
    gap: 26px 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

.post {
  // .post__wrapper

  &__wrapper {
    display: flex;
    gap: 20px;
  }

  // .post__image

  &__image {
    max-width: 100%;
    object-fit: contain;
  }

  // .post__content

  &__content {
    .title {
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      margin: -2px 0 1px;
      display: block;
      text-transform: none;
    }

    &-info {
      color: $lightGray;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      span {
        position: relative;
        padding-left: 20px;
      }

      span::before {
        content: "/";
        position: absolute;
        left: 6px;
        top: -4px;
      }

      span:first-child {
        padding-left: 0;
      }

      span:first-child::before {
        content: "";
      }


    }

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: $mediumGray;
      margin-top: 8px;
    }
  }
}

.social {
  margin-top: 69px;
  padding: 47px 0 49px 0;
  background-color: rgba($color: #000000, $alpha: 0.03);
  // .social__header

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    h4 {
      font-size: 13px;
    }
  }

  // .social__body

  &__body {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    @include lg {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    img {
      max-width: 100%;
      object-fit: contain;


      @include lg {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}



.footer {
  background: #000;
  text-align: center;
  padding: 70px 0;


  &__info::after {
    content: "Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.";
  }

  p {
    max-width: 684px;
    margin: -6px auto;
    line-height: 28px;
  }

  h2 {
    margin-bottom: 22px;
  }

  * {
    color: #fff;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 37px 0 34px 0;
  }
}