@media screen and (max-width: 768px) {
  body {
    .burger {
      display: flex;
      justify-content: flex-end;
    }

    header {
      nav {
        ul {
          display: none;
        }
      }
    }

    header {
      nav.open {
        position: relative;

        ul {
          display: flex;
          position: absolute;
          flex-direction: column;
          background-color: #f5f5f5;
          right: 10px;
          min-width: 182px;
          align-items: unset;
          padding: 0;
          gap: 0px;

          a {
            color: #4e4e4e;
            font-size: 11px;
            line-height: 22px;
            letter-spacing: 1.1px;
            padding: 4.15px 13px;
            display: block;
          }
        }
      }
    }

    .title {
      font-size: 14px;
    }

    .posts {
      margin-top: 34px;
    }

    .posts__list {
      grid-template-columns: 1fr;
    }

    .post__wrapper {
      flex-direction: column;
      gap: 10px;

      h3 {
        font-size: 14px;
        line-height: 1.2;
      }

      span {
        font-size: 11px;
      }

      p {
        display: none;
      }
    }

    .social {
      h4 {
        display: none;
      }

      .title span {
        display: none;
      }

      &__body {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        img {
          display: none;
        }

        img:nth-child(1) {
          display: block;
          width: 100%;
        }
      }
    }

    .footer {
      padding: 38px 0 47px 0;

      h2 {
        margin-bottom: 8px;
      }

      p:first-of-type {
        font-size: 14px;
        line-height: 20px;
        margin-top: 0px;
      }

      p:last-of-type {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
      }

      ul {
        margin: 25px 0;
      }

      &__info {
        position: relative;

        &::after {
          content: "Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. ";
          display: block;
        }
      }
    }
  }

  .post__content .title {
    font-size: 14px;

    line-height: 30px;
    margin: -5px 0 1px;
    display: block;
    text-transform: none;
  }

  .posts__list .post:nth-child(4) {
    display: none;
  }

  .social {
    margin-top: 30px;
  }
}